html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.3;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: bold;
}

h1 {
  color: #fff;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-weight: normal;
  margin: 0;
}

h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h6 {
  color: #d03656;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
.btn {
  text-transform: uppercase;
  color: #222222;
  font-size: 1.7rem;
  line-height: 2.9rem;
  font-weight: 400;
  border-radius: 5px;
}
.btn--primary {
  background-color: #ffae30;
}
@media only screen and (max-width: 1023px) {
  .btn {
    font-size: 1.5rem;
  }
}

.wrapper {
  max-height: 100%;
  overflow: hidden;
}

.header__top {
  justify-content: space-between;
  padding: 13px 24px;
  padding-right: 15rem;
  background-color: #000;
  display: flex;
  align-items: center;
}
.header__top-left {
  display: flex;
  align-items: center;
}
.header__top-left .header__logo {
  width: 117px;
  height: 36px;
  padding-right: 24px;
}
.header__top-left .window-logo {
  width: 25px;
  height: 25px;
  margin-right: 3.2rem;
}
.header__top-left .item-header a {
  margin-right: 4.3rem;
}
.header__top-left a {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__top-right {
  display: flex;
  align-items: center;
}
.header__top-right .btn-signup {
  background-color: #ffae30;
  color: black;
  margin-left: 3.3rem;
  white-space: nowrap;
}
.header__top-right a {
  padding: 6px 13px;
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
  border-radius: 4px;
  text-transform: uppercase;
}

.header {
  background-color: #1c2230;
}
.header__menu {
  position: relative;
  display: flex;
  align-items: center;
}
.header__menu-item {
  text-transform: capitalize !important;
}
.header__menu .fake-eth {
  text-transform: uppercase !important;
}
.header__menu a {
  padding: 9px 20px;
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.788);
  text-transform: uppercase;
  font-size: 13px;
}

.nav-scroller-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 30px;
}

.nav-scroller {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

@media (max-width: 1023px) {
  .nav-scroller {
    padding-bottom: 0;
  }
}
.nav-scroller-content {
  position: relative;
  display: flex;
  width: min-content;
  min-width: 100%;
  transition: transform 0.4s ease-in-out;
}

.no-transition {
  transition: none;
}

.nav-scroller-item {
  padding: 9px 20px;
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.788);
  text-transform: capitalize;
  font-size: 13px;
}

.nav-scroller-item:nth-child(4) {
  border-right: 1px solid rgba(255, 255, 255, 0.616);
}

.fake-eth {
  text-transform: uppercase;
}

.nav-scroller-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 1.25rem;
  transition: opacity 0.3s;
}
.nav-scroller-btn:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.nav-scroller-btn--left {
  left: 0;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-scroller-btn--right {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header {
  padding: 9px 0;
  background-color: #1c2230;
}

@media only screen and (max-width: 965px) {
  .item-header {
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .header__top-right .btn-signup {
    margin-left: 1.3rem;
  }
}
.banner {
  color: #ffffff;
  position: relative;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center;
  height: 74vh;
}
.banner__content {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 14.5rem;
}
.banner__content-img {
  width: 35.8rem;
  margin-bottom: 0.85rem;
}
.banner__content-title {
  font-size: 5.8rem;
  margin-bottom: 2rem;
}
.banner__content > a {
  width: 13rem;
}

@media only screen and (max-width: 1023px) {
  .banner {
    height: 67vh;
  }
  .banner__content {
    top: 15.9rem;
  }
  .banner__content-img {
    width: 27rem;
    margin-bottom: 0.7rem;
  }
  .banner__content-title {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .banner {
    height: 50vh;
  }
  .banner__content {
    top: 12.2rem;
  }
  .banner__content-img {
    width: 20rem;
    margin-bottom: 0.5rem;
  }
  .banner__content-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 424px) {
  .banner {
    height: 42vh;
  }
  .banner__content {
    top: 11rem;
  }
  .banner__content-img {
    width: 15rem;
    margin-bottom: 0.5rem;
  }
  .banner__content-title {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 374px) {
  .banner {
    height: 32vh;
  }
  .banner__content {
    top: 7.4rem;
  }
  .banner__content-img {
    width: 13rem;
    margin-bottom: 0.5rem;
  }
  .banner__content-title {
    font-size: 2rem;
  }
}
.statistics {
  padding: 5.5rem 0;
  background-color: #0a0e17;
}
.statistics__box {
  margin: 0 auto;
  background-color: #171b24;
  width: 39rem;
}
.statistics__box-title {
  color: #00b4c9;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  padding-top: 1rem;
}
.statistics__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
.statistics__list-item {
  color: #fff;
  padding: 0 1.5rem;
}
.statistics__list-item span {
  display: block;
}
.statistics__list-time {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: 400;
}
.statistics__list-currency {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 400;
}
.statistics__crypto {
  margin-top: 8rem;
  display: flex;
}
.statistics__crypto-item {
  display: flex;
  align-items: stretch;
}
.statistics__crypto-item:last-child {
  position: relative;
  margin-left: 8rem;
}
.statistics__crypto-item:last-child::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background: #555555;
  left: -4rem;
}
.statistics__crypto-box {
  display: flex;
  align-items: flex-start;
  margin-right: 3rem;
}
.statistics__crypto-box span {
  margin-left: 8px;
  color: #fff;
  font-size: 2.2rem;
  line-height: 2.8rem;
}
.statistics__crypto-box-info {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.statistics__crypto-info {
  margin: 0 2rem;
  display: flex;
  color: #fff;
  flex-direction: column;
}
.statistics__crypto-info h4 {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
}
.statistics__crypto-info span {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}
.statistics__crypto-info-color {
  color: #02c77a;
}
@media only screen and (min-width: 1024px) {
  .statistics__crypto {
    display: flex;
    justify-content: center;
  }
  .statistics__crypto-info {
    word-break: break-all;
    white-space: pre;
    margin: 0 1.4rem;
  }
  .statistics__crypto-info h4 {
    font-size: 1.3rem;
  }
  .statistics__crypto-box {
    word-break: break-all;
    white-space: pre;
    margin-right: 0;
  }
  .statistics__crypto-box span {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1023px) {
  .statistics__list-item {
    padding: 0 0.5rem;
  }
  .statistics__crypto {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
  }
  .statistics__crypto-item:last-child {
    margin-top: 3rem;
    margin-left: 0;
  }
  .statistics__crypto-item:last-child::before {
    display: none;
  }
  .statistics__crypto-info {
    margin: 0 1rem;
  }
  .statistics__crypto-info h4 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 767px) {
  .statistics {
    padding: 3rem 0;
  }
  .statistics__box {
    width: 100%;
  }
  .statistics__list-item {
    padding: 0 0.5rem;
  }
  .statistics__crypto {
    margin-top: 3rem;
    flex-direction: column;
  }
  .statistics__crypto-item {
    flex-direction: column;
  }
  .statistics__crypto-item:last-child {
    margin-top: 3rem;
    margin-left: 0;
  }
  .statistics__crypto-item:last-child::before {
    display: none;
  }
  .statistics__crypto-info {
    margin: 0 1rem;
  }
  .statistics__crypto-info h4 {
    font-size: 1.2rem;
  }
}

.FTX--NFTs {
  background-image: url(../images/FTX-NFTs.png);
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.FTX--NFTs__item {
  margin-bottom: 9rem;
}

@media only screen and (max-width: 1023px) {
  .FTX--NFTs {
    height: 65vh;
  }
  .FTX--NFTs__item {
    margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 767px) {
  .FTX--NFTs {
    height: 55vh;
  }
  .FTX--NFTs__item {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 424px) {
  .FTX--NFTs {
    height: 45vh;
  }
  .FTX--NFTs__item {
    margin-bottom: 4rem;
  }
}
.futures {
  background-color: #0a0e17;
}
.futures__inner {
  --spacing: 4rem;
  --columns: 4;
  padding-top: calc(var(--spacing) / 2);
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
}
.futures__inner > a {
  text-decoration: none;
}
.futures__inner-item {
  --height: 5rem;
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: calc(var(--spacing) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #171b24;
  width: 21.6rem;
  height: 18.7rem;
  padding: 1.6rem 2.1rem 3.2rem 2.1rem;
  border-radius: 5px;
  transition: all 0.2s linear;
}
/* .futures__inner-item:hover {
        transform: scale(1.02);
        background: linear-gradient(180deg, #006e7d 0%, #92d2de 100%); } */
.futures__inner-item-image {
  max-width: 100%;
  display: block;
}
.futures__content {
  height: calc(100% - var(--height));
  text-align: center;
}
.futures__content-desc,
.futures__content-title {
  font-family: 'Open Sans', sans-serif;
}
.futures__content-desc {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}
.futures__content-title {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.trade--annywhere {
  background-color: #1c2230;
}
.trade--annywhere__inner {
  padding-top: 4.7rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trade--annywhere__inner-image {
  max-width: 100%;
  display: block;
}
.trade--annywhere__content {
  color: #fff;
  margin-left: 7rem;
}
.trade--annywhere__content-title {
  font-size: 3.1rem;
  line-height: 3.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.trade--annywhere__content-caption {
  display: block;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 1023px) {
  .trade--annywhere__content-title {
    font-size: 2rem;
  }
  .trade--annywhere__content-caption {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .trade--annywhere__inner {
    padding-bottom: 4rem;
  }
  .trade--annywhere__inner-image {
    max-width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .trade--annywhere__inner {
    flex-direction: column;
  }
  .trade--annywhere__content {
    margin-left: 0;
  }
}

.FTX--NFTs {
  background-image: url(../images/FTX-NFTs.png);
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.FTX--NFTs__item {
  margin-bottom: 9rem;
}

@media only screen and (max-width: 1023px) {
  .FTX--NFTs {
    height: 65vh;
  }
  .FTX--NFTs__item {
    margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 767px) {
  .FTX--NFTs {
    height: 55vh;
  }
  .FTX--NFTs__item {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 424px) {
  .FTX--NFTs {
    height: 45vh;
  }
  .FTX--NFTs__item {
    margin-bottom: 4rem;
  }
}
.footer {
  background-color: #0a0e17;
}
.footer__inner {
  padding: 5rem 0;
  --spacing: 5rem;
  --columns: 6;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: var(--spacing);
}
.footer__inner-item {
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
}
.footer__inner-item-title {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.footer__inner-item-image {
  margin-bottom: 1.5rem;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__list-link {
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.7rem;
  color: #fff;
}
.footer__social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -3.2rem;
}
.footer__social-item {
  width: calc(33.3% - 3.2rem);
  margin-left: 3.2rem;
  margin-bottom: 3.5rem;
}
.footer__social-icon {
  color: white;
  font-size: 2rem;
}
@media only screen and (max-width: 1023px) {
  .footer__list {
    margin-bottom: 2rem;
  }
  .footer__inner {
    --spacing: 0;
    --columns: 3;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__inner-item {
    --spacing: 1rem;
  }
  .footer__inner-item-title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .footer__social {
    margin-left: 0;
  }
  .footer__social-item {
    width: 25%;
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
  .footer__social-icon {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 767px) {
  .footer__list {
    margin-bottom: 2rem;
  }
  .footer__inner {
    --spacing: 0;
    --columns: 2;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__inner-item {
    --spacing: 1rem;
  }
  .footer__inner-item-title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .footer__social {
    width: 60%;
    text-align: center;
    margin-left: 0;
  }
  .footer__social-item {
    width: 33.3%;
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
  .footer__social-icon {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=main.css.map */
